/* Landing Page */
@font-face {
    font-display: Helvetica;
    font-family: "Helvetica";
    src: url("fonts/Helvetica-Font/Helvetica.ttf");
}
h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 23px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
}
h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
}
p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}
blockquote {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}
pre {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}

body
{
    font-family: Helvetica, sans-serif;
    background: rgb(20,22,24,1) !important;
}
body .wrapper{
    float: none;
    margin: 0 auto;
    max-width: 390px;
}
.wrapper{
    overflow: hidden;
    background: #fff;
    margin-top: -25px !important;
    padding: 50px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
body.profile-page{
    background: rgb(209, 213, 215);
}
.edit-form, .barcode-section{
    border-radius: 10px;
}
.underImage{
    font-size: 14px;
    color: black;
}
.saveDataBtn{
    top: -0px !important;
    right: 0px !important;
}


/* Navvbar */
.nav-container {
    position: relative;
    display: inline-block;
    max-width: 100%;
    width: 100%;
    ;
    max-height: 50px;
    overflow: visible;
    outline: none;
    background: black;

}
.nav-container.is-active .nav-toggle:before, .nav-container.is-active .nav-toggle:after {
    box-shadow: none;
}
.nav-container.is-active .nav-toggle:before {
    transform: rotate(-45deg);
}
.nav-container.is-active .nav-toggle:after {
    transform: rotate(45deg);
}
.nav-container.is-active .nav-items {
    transform: translate(0, 0);
}
.nav-container .nav-toggle {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 10px;
    z-index: 2;
}
.nav-container .nav-toggle:hover {
    cursor: pointer;
}
.nav-container .nav-toggle:before, .nav-container .nav-toggle:after {
    content: "";
    position: absolute;
    top: 18px;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    height: 4px;
    background: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.nav-container .nav-toggle:before {
    box-shadow: 0 13.3333333333px 0 0 white;
}
.nav-container .nav-toggle:after {
    box-shadow: 0 -13.3333333333px 0 0 white;
}
.nav-container .nav-items {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 300px;
    max-width: 50vw;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding: 80px 20px 20px 10px;
    transition: transform 0.3s ease;
    transform: translate(calc(-100% - 50px), 0);
    background: #EFEFEF;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px 0;
    align-content: start;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.nav-container .nav-items .nav-item {
    background: #e2e2e2;
    padding: 10px;
    transition: background-color 0.3s ease;
}
.nav-container .nav-items .nav-item:hover {
    cursor: pointer;
    background: #d6d6d6;
}
.profile-image:hover{
    -webkit-box-shadow: 0px 0px 100px 0px #121f28;
    -moz-box-shadow: 0px 0px 100px 0px #121f28;
    box-shadow: 0px 0px 100px 0px #121f28;
    transition: .8s ease;
}
.qrcode-container:hover{
    -webkit-box-shadow: 0px 0px 20px 0px #121f28;
    -moz-box-shadow: 0px 0px 20px 0px #121f28;
    box-shadow: 0px 0px 20px 0px #121f28;
    transition: .8s ease;
}
a{
    color: #171717;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #212121;
}
.field-wrapper{
    padding-bottom: 3px;
    padding-top: 3px;
    margin-top: 10px;
}
.field-wrapper:hover {
    background: #7C96AB;
    border-radius: 10px;
}
.field-wrapper:hover a{
    color: white;
}
.field-wrapper .value-icon{
    padding-right: 0px;
}
.field-wrapper .value-container{
    line-height: 35px;
    padding-left: 0px;
}
/*///////////////////////////////////////////////////////////////*/
.save-btn-container {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 5px black solid;
    gap: 1rem;
    position: sticky;
    bottom: 0;
    background: black;
    padding: 5px;
    z-index: 1;
}

.save-btn-container[data-show-border=true] {
    border-top: 1px solid var(--primary-200)
}

.save-btn-sentinel {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    visibility: hidden
}

.save-btn {
    max-width: 220px;
    width: 50%;
    position: relative;
    height: 2.5rem;
    padding: 0.75rem 0.5rem;
    border-radius: 80px;
    white-space: nowrap;
    font-weight: 700;
    font-size: 1.375rem;
    letter-spacing: .3px;
    color: var(--contrasting-color);
    border: unset;
    box-shadow: 0 1px 5px 0 rgba(82,93,102,.25), 0 2px 8px 0 rgba(82,93,102,.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-btn:focus {
    outline: none
}

.save-btn .save-contact-icon {
    color: inherit;
    margin-right: .5rem
}

.save-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 80px;
    background: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    background: rgba(var(--card-color), 0.8);
    animation: ripples 3s ease-in 3;
    z-index: -1
}

@keyframes ripples {
    0% {
        transform: scale(1, 1);
        opacity: 0
    }

    25% {
        opacity: .25
    }

    50% {
        transform: scale(1.1, 1.5);
        opacity: 0
    }

    100% {
        transform: scale(1.1, 1.5);
        opacity: 0
    }
}
.poweredby{
    background-image: url(../images/footer-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    background-position: left;
    height: 1.1CM;
    width: 100%;
}
